### Markdown Basics

* **Bold**
* *Italic*
* ***IB***
* Normal Text
 * Sublist 1
 * Sublist 2


1. Ordered list element 1
2. Ordered list element 2


- [x] Finish my changes
- [ ] Push my commits to GitHub
- [ ] Open a pull request

I get 10 times more traffic from [Google] [1] than from
[Yahoo] [2] or [MSN] [3].

  [1]: http://google.com/        "Google"
  [2]: http://search.yahoo.com/  "Yahoo Search"
  [3]: http://search.msn.com/    "MSN Search"

![jupyter logo](jupyter.png)

### Python Basics

Python version 3.7

- scripting
- object oriented
- functional

In [11]:
#python comments


print("Good Afternoon","!",end="||") #Basic ouptut
print("Hello Python")

Good Afternoon !||Hello Python

### Assignment

In [24]:
n1=123456 #single 
n1=n2=n3=n1
a,b,c=1,2,3

In [28]:
n3

12535637344887704516447688721417492690366247570114367492980736

In [42]:
a
b
c

3

### Data Types & Type converations

- int
- float
- string
- double

In [44]:
type(a)

int

In [46]:
s="python"
type(s)

str

In [47]:
type(13.4)

float

In [53]:
type(100000.000**3)

float

In [54]:
f1=12.345
float(str(int(f1)))

12.0

In [61]:
122321**99

459834195013520895970598005245554462289444496354836545814695667084002475417606077967341053798141163885985501223395222538956391799394685482602964873170002036710037373973549290006764731774092200610277639292717267151198447134312060462548644635489695829586933916721307468387424935790630957921492887694460042605777005058098487031154451479137294499737430330760254075739830237483670509400856835402641099779272195102763267020275634123666972628866950191224297383134317667325949923889731065354126644971614463124081

In [67]:
import math
math.pi

3.141592653589793

### Arithametic Operations

* +
* -
* /
* *
* %
* *

In [19]:
n1%11

3

In [34]:
atoms=10**20
len(str(atoms))
atoms

100000000000000000000

In [36]:
atoms=10**82
atoms

10000000000000000000000000000000000000000000000000000000000000000000000000000000000

In [37]:
len(str(atoms))

83

In [38]:
type(str(atoms))

str

### Conditionals

In [39]:
atoms<10**79

False

In [10]:
atoms<10**99

NameError: name 'atoms' is not defined

In [14]:
a = 12
print(a,type(a))

12 <class 'int'>

In [12]:
a="hello"
print(a,type(a))

hello <class 'str'>

In [15]:
print(a,type(a))

12 <class 'int'>

### Strings

In [27]:
s1="python"

In [28]:
print(s1[::-1])

nohtyp

In [29]:
s1[-1:-3:-1]

'no'

In [43]:
#reverese the middle two characters in an even length string
s="hell"
s[len(s)//2:len(s)//2-2:-1]

'le'

In [55]:
#Accessing alternative characters in string
#python -->pto-->nhy
s="python"
print(s[::2])
print(s[::-2])

pto
nhy

### Functions in Python

In [61]:
def reverse(s):
    return s[::-1]
reverse("python")
reverse("language")

'egaugnal'

In [62]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [66]:
#Function to cheack a string is palindrome
def palindrome(s):
    if(s==s[::-1]):
        return True
    else:
        return False
palindrome("racecar")

True

In [75]:
#Function to check if a given year is leap year
def leapyear(year):
    if(year%400==0 or (year%100!=0 and year%4==0)):
        return True
    else:
        return False
leapyear(2012)

True

In [76]:
import calendar
dir(calendar)

['Calendar',
 'EPOCH',
 'FRIDAY',
 'February',
 'HTMLCalendar',
 'IllegalMonthError',
 'IllegalWeekdayError',
 'January',
 'LocaleHTMLCalendar',
 'LocaleTextCalendar',
 'MONDAY',
 'SATURDAY',
 'SUNDAY',
 'THURSDAY',
 'TUESDAY',
 'TextCalendar',
 'WEDNESDAY',
 '_EPOCH_ORD',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_colwidth',
 '_locale',
 '_localized_day',
 '_localized_month',
 '_spacing',
 'c',
 'calendar',
 'datetime',
 'day_abbr',
 'day_name',
 'different_locale',
 'error',
 'firstweekday',
 'format',
 'formatstring',
 'isleap',
 'leapdays',
 'main',
 'mdays',
 'month',
 'month_abbr',
 'month_name',
 'monthcalendar',
 'monthlen',
 'monthrange',
 'nextmonth',
 'prcal',
 'prevmonth',
 'prmonth',
 'prweek',
 'repeat',
 'setfirstweekday',
 'sys',
 'timegm',
 'week',
 'weekday',
 'weekheader']

In [77]:
from calendar import isleap
isleap(2019)

False

In [99]:
def countDigits(n):
    return len(str(n))
print(countDigits(100))

3

In [100]:
def countdigits(n):
    count=0;
    while(n!=0):
        n=n//10;
        count+=1;
    return count
countdigits(1000)

4

In [101]:
def maxfour(a,b,c,d):
    if a>b and a>c and a>d:
        return a
    elif(b>c and b>d):
        return b
    elif(c>d):
        return c
    else:
        return d
maxfour(-1,-2,-1,-2)

-1

### Iteration

- for
- while

In [102]:
#Function to print n number
def nnumbers(n):
    for i in range(1,n+1):
        print(i,end=" ")
nnumbers(100)

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

In [103]:
def nnumberw(n):
    i=1
    while(i<=100):
        print(i,end=" ")
        i+=1
nnumberw(100)

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

In [104]:
#Function  to print all numbers  diviable by 6  and not a factor of 100 in a given range(lb,ub) inclusive
def sp(lb,ub):
    for i in range(lb,ub+1):
        if(i%6==0 and i%100!=0):
            print(i,end=" ")
    return
sp(1,1000)

6 12 18 24 30 36 42 48 54 60 66 72 78 84 90 96 102 108 114 120 126 132 138 144 150 156 162 168 174 180 186 192 198 204 210 216 222 228 234 240 246 252 258 264 270 276 282 288 294 306 312 318 324 330 336 342 348 354 360 366 372 378 384 390 396 402 408 414 420 426 432 438 444 450 456 462 468 474 480 486 492 498 504 510 516 522 528 534 540 546 552 558 564 570 576 582 588 594 606 612 618 624 630 636 642 648 654 660 666 672 678 684 690 696 702 708 714 720 726 732 738 744 750 756 762 768 774 780 786 792 798 804 810 816 822 828 834 840 846 852 858 864 870 876 882 888 894 906 912 918 924 930 936 942 948 954 960 966 972 978 984 990 996

In [173]:
#function to find average of cubes all even numbers in given range(lb,up)
def avecu(lb,ub):
    res=0;
    count=0
    for i in range(lb,ub+1):
        if(i&1):
            continue;
        else:
            res=res+(i*i*i)
            count+=1
    return res/count
avecu(1,3)

8.0

In [113]:
#Functin to generate the list of factors for a given number
def factors(n):
    for i in range(1,n+1):
        if(n%i==0):
            print(i,end=" ")
factors(100)

1 2 4 5 10 20 25 50 100

In [119]:
#Function to calculate the factorail of a given number
def factorial(n):
    result=1;
    for i in range(2,n+1):
        result=result*i;
    return result
factorial(5)

120

In [150]:
#Function to check if a given number is Prime
def prime(n):
    for i in range(2,n):
        if(n%i==0):
            return False
    return True

In [185]:
def primeavg(n):
    i=2;
    count=0
    res=0;
    while(count!=n):
        if(prime(i)):
            print(i,end=" ")
            count+=1
            res=res+i;
        i=i+1
    return res/n
primeavg(10)

2 3 5 7 11 13 17 19 23 29

12.9

In [160]:
#function to generate all Perfect numbers in a given range

def perfect(n):
    for i in range(1,n+1):
        s=0;
        for j in range(1,i):
            if(i%j==0):
                s=s+j
        if(i==s):
            print(i,end=" ")
perfect(10000)

6 28 496 8128

In [188]:
prime(5)

True

In [ ]:
for ele in res:
    print(ele,end=" ")

### Advance Problem Set

In [16]:
#Function to calculate average of all factorials in a given range
import math
def avgfact(lb,up):
    res=0;
    for i in range(lb,up+1):
        res=res+(math.factorial(i))
    return res/up+1-lb
avgfact(1,3)

3.0

In [2]:
#Function to generate N odd armstrong numbers in given range
def armstrong(n):
    count=0;
    i=1;
    while(count!=n):
        res=0;
        k=str(i)
        for ele in k:
            res=res+pow(int(ele),len(k))
        if(res==i and i&1):
            print(i,end=" ")
            count=count+1
        i=i+1
armstrong(10)

1 3 5 7 9 153 371 407 92727 1741725

In [1]:
#Function to generate multiplication table
#ex:- 10 in range(100,102)
#10x100=1000
#10x101=1010
def table(n,lb,ub):
    for i in range(lb,ub+1):
        print(str(n)+"x"+str(i)+"="+str(n*i))
table(10,100,110)

10x100=1000
10x101=1010
10x102=1020
10x103=1030
10x104=1040
10x105=1050
10x106=1060
10x107=1070
10x108=1080
10x109=1090
10x110=1100

In [5]:
#Function to print reverse of given range in the 
def reverseRange(start,end):
    for i in range(end,start-1,-1):
        print(i,end=" ");
reverseRange(1,10)

10 9 8 7 6 5 4 3 2 1

In [9]:
def oddrev(start,end):
    for i in range(end,start-1,-1):
        if(i&1):
            print(i,end=" ")
oddrev(1,10)

9 7 5 3 1

In [28]:
def num(n):
    return (n*(n+1))/2
def sumn(start,end):
    return num(end)-num(start-1)
print(sumn(100,200))

15150.0

In [39]:
#function to calculate avg of given range
def avg(start,end):
    return sumn(start,end)/((end+1)-start)
avg(1000,5000)

3000.0

In [40]:
import calendar

In [51]:
def generateLeapYears(start,end):
    for i in range(start,end+1):
        if calendar.isleap(i):
            print(i,end=" ")
generateLeapYears(1897,1903)

In [49]:
1900%4

0

In [52]:
#number of days in a given time period using leap year
def noOfDays(start,end):
    days=0
    for i in range(start,end+1):
        if calendar.isleap(i):
            days=days+366
        else:
            days=days+355
    return days
noOfDays(2000,2019)

7155

In [53]:
import calendar
dir(calendar)

['Calendar',
 'EPOCH',
 'FRIDAY',
 'February',
 'HTMLCalendar',
 'IllegalMonthError',
 'IllegalWeekdayError',
 'January',
 'LocaleHTMLCalendar',
 'LocaleTextCalendar',
 'MONDAY',
 'SATURDAY',
 'SUNDAY',
 'THURSDAY',
 'TUESDAY',
 'TextCalendar',
 'WEDNESDAY',
 '_EPOCH_ORD',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_colwidth',
 '_locale',
 '_localized_day',
 '_localized_month',
 '_spacing',
 'c',
 'calendar',
 'datetime',
 'day_abbr',
 'day_name',
 'different_locale',
 'error',
 'firstweekday',
 'format',
 'formatstring',
 'isleap',
 'leapdays',
 'main',
 'mdays',
 'month',
 'month_abbr',
 'month_name',
 'monthcalendar',
 'monthlen',
 'monthrange',
 'nextmonth',
 'prcal',
 'prevmonth',
 'prmonth',
 'prweek',
 'repeat',
 'setfirstweekday',
 'sys',
 'timegm',
 'week',
 'weekday',
 'weekheader']

In [4]:
from datetime import date
f_date = date(1900,11, 1)
l_date = date(1999, 3, 1)
delta = l_date - f_date
print(delta.days*24)

861936

In [76]:
def p100(n):
    count=0
    while(n!=1):
        #print(n);
        if(n&1):
            n=((3*n)+1);
        else:
            n=n//2
        count=count+1;
    return count+1
l=[]
a,b=[int(x) for x in input().split()]
for i in range(a,b+1):
    l.append(p100(i))
print(a,b,max(l))

900 1000
900 1000 174

In [3]:
from sys import stdin
lines = stdin.read().splitlines()
print(lines)

[]

In [53]:
#months=[0,31,28,31,30,31,30,31,31,30,31,30,31]        
def isLeap(year):
    if(year%400==0 or (year%100!=0 and year%4==0)):
        return True
    else:
        return False
def months(m):
    if(m==2):
        return 28
    elif(m==4 or m==6 or m==9 or m==11):
        return 30
    else:
        return 31
def firsth(sm,sy):
    days=0;
    for i in range(sm,13):
        days=days+(months(i));
    if(sm<=2):
        if(isLeap(sy)):
            days+=1;
    return days;
def secondh(em,ey):
    days=0;
    for i in range(1,em+1):
        days=days+(months(i));
    if(em>=2):
        if(isLeap(ey)):
            days+=1;
    return days
def noofdays(sy,ey):
    days=0;
    for i in range(sy+1,ey):
        if(isLeap(i)):
            days=days+366;
        else:
            days=days+365
    return days
def totalnoofhours(sm,sy,em,ey):
    res=0;
    res=res+(noofdays(sy,ey))+(firsth(sm,sy))+(secondh(em,ey));
    #print(res);
    if(sy==ey):
        if(isLeap(sy)):
            res=res-(366)
        else:
            res=res-(365)
        
    return res;
print(totalnoofhours(6,2018,7,2018)*24);

1464